@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

body {
    font-family: 'Baloo Tamma 2', cursive;
    background-color: rgb(126, 169, 255);
}

.container {
    background-color: white;
    padding: 22px 19px;
    width: min-content;
    border-radius: 15px;
    /* border:1px solid red; */
    margin: 80px auto;
}

input {
    background-color: rgb(200, 216, 255);
    text-overflow: initial;
    padding: 10px;
    border-radius: 7px;
    padding-right: 16px;
    padding-top: 30px;
    width: 92.5%;
    text-align: right;
    font-size: 22px;
    border: none;
    margin: 15px auto;
}

input:focus {
    outline: none;
}

span {
    text-align: center;
    width: 14%;
    /* border:1px solid green; */
    padding: 11px 23px;
    /* margin:  5px; */
    transition: 0.25s;
}

span:hover {
    cursor: pointer;
}

form {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    column-gap: 13px;
    row-gap: 10px;
    justify-items: stretch;
    margin: 10px auto;
}

.btn.equal {
    width: 63%;
    grid-column: span 2;
}

.btn {
    background-color: rgb(231, 239, 255);
    border-radius: 7px;

}

.btn:hover {
    background-color: rgba(231, 239, 255, 0.475);
}

.btn.dark {
    color: rgba(38, 89, 206, 0.747);
    background-color: rgba(102, 176, 255, 0.507);
}

.btn.dark:hover {
    background-color: rgba(152, 200, 252, 0.507);
}

.btn.darker {
    background-color: rgba(38, 89, 206, 0.747);
    color: white;
}

.btn.darker:hover {
    background-color: rgba(84, 120, 203, 0.747);
}

h5{
    position: absolute;
    bottom: 1px;
    right: 1px;
}
